header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.logo {
    width: 20%;
    display: flex;
    cursor: pointer;
}

.logoImg {
    width: 100px;
    
}

.logoTitle {
    font-size: 23px;
    align-content: end;
    margin-bottom: 10px;
}

.menu-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.login {
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: end;
    padding-right: 20px;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
}

.login > span {
    cursor: pointer;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.select-menu {
    flex: 1;
    align-content: center;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
}

.select-menu:hover {
    border-bottom: 2px solid rgb(93, 127, 247);
    color: rgb(93, 127, 247);
    background-color: rgb(237, 236, 236);
}

.description {
    width: 100%;
    height: auto;
    position: absolute;
    border: 1px solid gray;
    background-color: rgb(249, 246, 241);
    top: -1000px;
    transition: all 0.5s ease;
    border: 1px solid gray;
    display: flex;
    box-sizing: border-box;
}

.menu:hover .description {
    top: 45px;
}

.select-menu-description {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-menu-description:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

.select-menu-description > div {
    cursor: pointer;
}